body {
background-color: white;
}

/* ABOUT SECTION */

.title {
    font-family: "Oswald";
    font-size: 5.2em;
    color: #FEBA12;
    text-align: center;
    padding-top: 50px;
}

.bio {
    margin-bottom: 30px;
}

.title2 {
    font-family: "Oswald";
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;

}

.teamline {
    width: 700px;
    margin: 0 auto;
    border: 1px solid #FEBA12;
}

.active {
    color: #FEBA12 !important;
}

.aboutvideo {
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.faces:hover {
        -webkit-transform: scale(1.17);
        -ms-transform: scale(1.17);
        transform: scale(1.17);
        }
.faces {
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.indent {
    text-indent: 50px;
}

p {
    margin-bottom: 0px;
}

.huge {
    font-size: 5em;
    float: left;
    margin: -25px 0px -55px 0px;
    padding: 0px 10px 8px 0px;
    font-family: "Lora";
}

footer {
    height: 60px;
    clear: both;
    background-color: #252525;
    font-family: "Montserrat";
    color: #D9D9D9;
    font-size: .8em;
    font-weight: 100;
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid black;
}




/* If screen is small */

@media(max-width:767px) {

header a {
color: #FBF0AF;
z-index: 300;
}

.pic {
    margin: 0 auto;
    width: 200px;
}

.faces {
    width: 200px;
    height: auto;
    border-radius: 10%;
    margin: 0 auto;
    padding-top: 20px;
}

#logo2 {
display: none;
}

#logo {
width: 160px;
margin-top: -14px;
z-index: 300;
}

.title {
    font-family: "Oswald";
    text-align: center;
}

.about {
    padding: 35px;
    margin: 10 auto;
    font-family:"Lora";
}

.about p {
    font-size: .9em;
    font-family: "Lora";
}

}

/* If screen is big */

@media(min-width:768px) {

.navbar-fixed-top .navbar-brand {
padding: 15px 0;
}

.pic {
    margin: 0 auto;
    width: 300px;
}

.faces {
    width: 300px;
    height: auto;
    border-radius: 100%;
    margin: 0 auto;
    padding-top: 20px;
}

.title {
    font-family: "Oswald";
    font-size: 5.4em;
    color: #FEBA12;
    text-align: center;
    padding-top: 50px;
}

#logo2 {
margin-top: -20px;
}

#logo {
display: none;
width: 160px;
margin-top: -14px;
z-index: 300;
}

.about {
    width: 700px;
    margin: 0 auto;
    padding-top: 30px;
    font-family: "Lora";
    text-align: justify;
}

.about p {
    font-size: 1.4em;
}


}


/* Navigation */

.glyphicon {
    font-size: 19px;
}

#li2 {
padding-top: 21px;
}

.fa-facebook-square {
font-size: 21px;
}

#mail {
margin-right: -15px;
}

#li2:hover {
opacity: 1.0;
}

#logo {
z-index: 200;
}

header {
z-index: 500;
position: relative;
margin-bottom: -20px;
}

.navbar-fixed-top .navbar-brand {
padding: 0 15px;
z-index: 300;
}

.navbar-fixed-top .nav {
padding: 15px 0;
}

.navbar-fixed-top {
border: 1px solid white;
}

.li {
padding-top: 21px;
margin-top: 2px;
margin-left: 15px;
padding-bottom: 10px;
font-family: "Oswald";
z-index: 300;
}

header a {
color: #FEF8B4 !important;
z-index: 300;
}

header a:hover {
color: #FEBA12 !important;
}

/* If screen is small */



/* Back up styles ...
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes.
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
*/
